---
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../lib/supabase";
import { marked } from "marked";
import { formatDate } from "../../lib/formatDate";


export const prerender = false;

const { slug } = Astro.params;

const { data: post } = await supabase
    .from("posts")
    .select("*")
    .eq("slug", slug)
    .eq("is_published", true)
    .single();

if (!post) {
    return Astro.redirect("/404");
}
  
//Custom marked renderer
const renderer = new marked.Renderer();

renderer.link = ({ href, title, text }) => {
    return `<a href="${href}" target="_blank" rel="noopener noreferrer">${text}</a>`;
};

marked.setOptions({
    renderer,
});

const htmlContent = await marked.parse(post.content);
---

<Layout>
    <div class="min-h-screen bg-[#fdfaf4] text-[#3b3228] font-serif">
        <div class="max-w-2xl mx-auto px-6 py-10 pb-24">
            <header class="mb-10 text-left">
                <a
                    href="/"
                    class="text-[#7c6f5a] text-3xl font-bold hover:text-[#3b3228] transition"
                >
                    ← Back to all posts
                </a>
            </header>

            <article class="text-center">
                <h1 class="text-5xl font-bold leading-tight mb-1">
                    {post.title}
                </h1>

                <time class="text-xl text-[#7c6f5a] block mb-5">
                    {formatDate(post.created_at)}
                </time>

                <div
                    class="article-content text-[#3b3228] text-2xl leading-relaxed space-y-6 text-center"
                    set:html={htmlContent}
                />
            </article>
        </div>
    </div>
</Layout>

<style is:global>
    .article-content a {
        color: #7c6f5a;
        text-decoration: underline;
        position: relative;
        z-index: 1;
    }

    .article-content a:hover {
        color: #3b3228;
    }

    .article-content li {
        position: relative;
        z-index: 0;
    }
</style>
